<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Shop | E-Shopper</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/prettyPhoto.css" rel="stylesheet">
  <link href="/css/price-range.css" rel="stylesheet">
  <link href="/css/animate.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/responsive.css" rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
  <link rel="shortcut icon" href="/images/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57-precomposed.png">
</head>
<!--/head-->

<body>
  <section id="advertisement">
    <div class="container">
      <img src="/images/shop/advertisement.jpg" alt="" />
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="left-sidebar">
            <h2>Category</h2>
            <div class="panel-group category-products" id="accordion">
              <!--category-products-->
              <% for (let i = 0; i < productCategories.length; i++) { %>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a href="#" class="category-filter" data-id="<%= productCategories[i]._id %>">
                      <span class="badge pull-right"></span>
                      <%= productCategories[i].name %>
                    </a>
                  </h4>
                </div>
              </div>
              <% } %>
            </div>
            <!--/category-products-->

            <div class=" price-range">
              <!--price-range-->
              <h2>Price Range</h2>
              <div class="well">
                <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />
                <b>$ 0</b> <b class="pull-right">$ 600</b>
              </div>
            </div>
            <!--/price-range-->

            <div class="shipping text-center">
              <!--shipping-->
              <img src="/images/home/shipping.jpg" alt="" />
            </div>
            <!--/shipping-->

          </div>
        </div>

        <div class="col-sm-9 padding-right">
          <div class="features_items">
            <!--features_items-->
            <h2 class="title text-center">Features Items</h2>
            <div class="sort-filter row mb-4">
              <!-- Sort By -->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="sort-by" class="form-label">Sort By:</label>
                  <select id="sort-by" class="form-select">
                    <option value="createdAt">Newest</option>
                    <option value="price">Price</option>
                    <option value="name">Name</option>
                  </select>
                </div>
              </div>

              <!-- Sort Direction -->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="sortDirection" class="form-label">Sort Direction:</label>
                  <select id="sortDirection" class="form-select">
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                  </select>
                </div>
              </div>
            </div>

            <!-- Bắt đầu div #products -->
            <div id="products">
              <% for (let i = 0; i < products.docs.length; i++) { %>
              <div class="col-sm-4">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="<%= products.docs[i].mainImage %>" alt="" />
                      <h2>$ <%= products.docs[i].price %></h2>
                      <p><%= products.docs[i].name %></p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                    </div>
                    <div class="product-overlay">
                      <div class="overlay-content">
                        <h2>$ <%= products.docs[i].price %></h2>
                        <p><%= products.docs[i].name %></p>
                        <a href="/client/product_detail/<%= products.docs[i]._id %>" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Details</a>
                      </div>
                    </div>
                  </div>
                  <div class="choose">
                    <ul class="nav nav-pills nav-justified">
                      <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                      <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <% } %>

              <ul class="pagination">
                <% if (products.hasPrevPage) { %>
                <li>
                  <a href="#" onclick="handlePagination({page:<%= products.prevPage %>, limit:1}); return false;">
                    &laquo;
                  </a>
                </li>
                <% } else { %>
                <li class="disabled"><a href="#">&laquo;</a></li>
                <% } %>

                <% for (let p = 1; p <= products.totalPages; p++) { %>
                <li class="<%= p === products.page ? 'active' : '' %>">
                  <a href="#" onclick="handlePagination({page:<%= p %>, limit:1}); return false;">
                    <%= p %>
                  </a>
                </li>
                <% } %>

                <% if (products.hasNextPage) { %>
                <li>
                  <a href="#" onclick="handlePagination({page:<%= products.nextPage %>, limit:1}); return false;">
                    &raquo;
                  </a>
                </li>
                <% } else { %>
                <li class="disabled"><a href="#">&raquo;</a></li>
                <% } %>
              </ul>
            </div>
            <!-- Kết thúc div #products -->

          </div>
          <!--features_items-->
        </div>

      </div>
    </div>
  </section>

  <script src="/js/jquery.js"></script>
  <script src="/js/price-range.js"></script>
  <script src="/js/jquery.scrollUp.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.prettyPhoto.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/ajax/products.js"></script>
</body>

</html>