<body>
  <section>
    <div class="container">
      <div class="col-sm-9 col-sm-offset-1">
        <div class="product-details">
          <!--product-details-->
          <div class="col-sm-5">
            <div class="view-product">
              <img src="<%=product.mainImage%>" alt="" />
            </div>
            <div id="similar-product" class="carousel slide" data-ride="carousel">


              <!-- Controls -->
              <a class="left item-control" href="#similar-product" data-slide="prev">
                <i class="fa fa-angle-left"></i>
              </a>
              <a class="right item-control" href="#similar-product" data-slide="next">
                <i class="fa fa-angle-right"></i>
              </a>
            </div>

          </div>
          <div class="col-sm-7">
            <div class="product-information">
              <h2><%= product.name %></h2>
              <p>Web ID: 1089772</p>
              <!-- Colors -->
              <div class="product-colors">
                <p>Color: <span id="selected-color">#000000</span></p>
                <div class="color-options">
                  <% for (let i = 0; i < product.colors.length; i++) { %>
                  <div class="color-circle" style="background-color: <%= product.colors[i].color_name %>" data-color="<%= product.colors[i].color_name %>" onclick="updateSelectedColor('<%= product.colors[i].color_name %>')"></div>
                  <!-- <div><%= product.colors[i].color_name %></div> -->
                  <% } %>
                </div>
              </div>
              <!-- Sizes -->
              <div class="product-sizes">
                <p>Size:</p>
                <div class="size-options">
                  <% product.size.forEach(size => { %>
                  <button class="size-btn"><%= size %></button>
                  <% }); %>
                </div>
              </div>
              <!-- Price -->
              <div class="product-price">
                <p>
                  <span class="price">$<%= product.price %></span>
                </p>
              </div>
              <!-- Quantity -->
              <div class="product-quantity">
                <label>Quantity:</label>
                <div class="quantity-controls">
                  <button onclick="decreaseQuantity()">-</button>
                  <input type="text" id="quantity" value="1" />
                  <button onclick="increaseQuantity()">+</button>
                </div>
              </div>
              <!-- Add to Cart -->
              <button type="button" class="btn btn-fefault cart">
                <i class="fa fa-shopping-cart"></i>
                Add to cart
              </button>
            </div>
          </div>

        </div>

        <div class="recommended_items">
          <!--recommended_items-->
          <h2 class="title text-center">recommended items</h2>

          <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="item active">
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="/images/home/recommend1.jpg" alt="" />
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="/images/home/recommend2.jpg" alt="" />
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="/images/home/recommend3.jpg" alt="" />
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="/images/home/recommend1.jpg" alt="" />
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="/images/home/recommend2.jpg" alt="" />
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="/images/home/recommend3.jpg" alt="" />
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
              <i class="fa fa-angle-left"></i>
            </a>
            <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
        </div>
        <!--/recommended_items-->

      </div>
    </div>
    </div>
  </section>


  <script src="/js/jquery.js"></script>
  <script src="/js/price-range.js"></script>
  <script src="/js/jquery.scrollUp.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.prettyPhoto.js"></script>
  <script src="/js/main.js"></script>
</body>